$sans-serif: 'Arial', sans-serif;
$font-family: 'Proxima Nova';
$font-size: 16px;
$line-height: 22px;
$text-align: left;
$font-weight: normal;
$text-color: $black;
$background-color: white;

//Desktop
$font-size-desktop: 20px;

//Desktop small
$font-size-small: 19px;

//Tablet
$font-size-tablet: 18px;
